
ProjectSpooke/Content/Levels/LVL_School_Auto1.umap
ProjectSpooke/Content/Levels/LVL_School_Auto2.umap
ProjectSpooke/Content/Levels/LVL_School_Auto3.umap
ProjectSpooke/Content/Levels/LVL_School_Auto4.umap
ProjectSpooke/Content/Levels/LVL_School_Auto5.umap
ProjectSpooke/Intermediate/Build/SourceFileCache.bin
ProjectSpooke/Intermediate/Build/Win64/ActionHistory.bin
ProjectSpooke/Intermediate/Build/Win64/UnrealEditor/Development/UnrealEditor.uhtmanifest
ProjectSpooke/Intermediate/Build/Win64/UnrealEditor/Development/UnrealEditor.uhtpath
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp17.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp17.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp17.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp17.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp17.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp17.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.Cpp20.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Core/SharedPCH.Core.RTTI.Cpp20.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.Cpp20.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/CoreUObject/SharedPCH.CoreUObject.RTTI.Cpp20.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp17.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp17.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp17.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp17.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp17.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp17.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.Cpp20.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.RTTI.Cpp17.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.RTTI.Cpp17.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.RTTI.Cpp17.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.RTTI.Cpp17.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.RTTI.Cpp17.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Engine/SharedPCH.Engine.RTTI.Cpp17.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Makefile.bin
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slate/SharedPCH.Slate.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slate/SharedPCH.Slate.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slate/SharedPCH.Slate.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slate/SharedPCH.Slate.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slate/SharedPCH.Slate.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slate/SharedPCH.Slate.Cpp20.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/TargetMetadata.dat
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp17.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp17.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp17.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp17.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp17.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp17.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.Cpp20.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp17.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp17.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp17.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp17.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp17.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp17.h.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.cpp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.cpp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h.obj.rsp
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h.obj.rsp.old
ProjectSpooke/Intermediate/Build/Win64/x64/UnrealEditor/Development/UnrealEd/SharedPCH.UnrealEd.RTTI.Cpp20.h.old
ProjectSpooke/Intermediate/CachedAssetRegistry_0.bin
ProjectSpooke/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
ProjectSpooke/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
ProjectSpooke/Saved/Autosaves/Game/Levels/LVL_School_Auto2.umap
ProjectSpooke/Saved/Autosaves/Game/Levels/LVL_School_Auto3.umap
ProjectSpooke/Saved/Autosaves/Game/Levels/LVL_School_Auto4.umap
ProjectSpooke/Saved/Autosaves/Game/Levels/LVL_School_Auto5.umap
ProjectSpooke/Saved/AutoScreenshot.png
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-032A04AF45AD49BDD9E95C9FF4EB787A/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-07A84FC149A0FD68445E3C86E8720C9E/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-18B0D643417F5B788FD57E8E3A882215/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-787AB3DD4C9BB00D9804BD96A6120285/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-79EBAE1647331B51434FF3B02669BF71/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-8320DFC34EFAEABFF3732ABA8A09A757/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-9A8FB0A74683BF5893CD919C0C547C82/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-DFAEA46648A8E895A3826E8670985B6D/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-E5403EE146153107D30ECDA27F2F5DC5/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-FC070F864693EF627117F0B1AB706309/CrashReportClient.ini
ProjectSpooke/Saved/Config/CrashReportClient/UECC-Windows-FE4C150E4F46247B792C638F440742AA/CrashReportClient.ini
ProjectSpooke/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.03.25-16.12.52.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.03.25-16.34.28.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.03.25-16.45.53.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-04.43.54.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-04.44.23.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-04.46.45.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-04.52.07.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-04.56.08.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-04.58.07.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-04.59.14.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-05.00.18.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-05.01.05.log
ProjectSpooke/Saved/Logs/ProjectSpooke-backup-2024.04.04-05.02.37.log
ProjectSpooke/Saved/Logs/ProjectSpooke.log
ProjectSpooke/Saved/Logs/ProjectSpooke_2.log
